@media print {

    body {
        background: white !important;
        color: black !important;
    }

    h1,
    h2,
    h3,
    h4,
    p,
    li,
    table,
    th,
    td,
    strong {
        color: black !important;
    }

    pre {
        background: #f5f5f5 !important;
        color: black !important;
    }

    code {
        color: black !important;
    }

    button {
        display: none !important;
    }

}